/* Default Font for the page. */
* {
    font-family: arial,helvetica;
    color: white;
}
h1, h3 {
    text-shadow: 6px 6px 9px #000000;
}

html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Sets up the sections to split the pages */
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Makes sure not get issues with white lines under sections. */
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}

.fp-scrollable {
    overflow: hidden;
    position: relative;
}

.fp-scroller{
    overflow: hidden;
}

.iScrollIndicator{
    border: 0 !important;
}

/* ------------------------------------------------------------- */
/*                              NavTips                          */
/* ------------------------------------------------------------- */

/*  How far the nav is from the right. */
#fp-nav {
    position: fixed;
    z-index: 100;
    top: 50%;
    opacity: 10.5;
    -webkit-transform: translate3d(0,0,0);

    /* Keeps it to the right. */
    right: 0;
}

/* Margin from the screen */
#fp-nav ul li, .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin-right: 15px;
    margin-top: 25px;
    position:relative;
}
#fp-nav ul li a, .fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

/* Acitve button */
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 20px;
    width: 20px;
    margin: -10px 0 0 -10px;
 }
 
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    position: absolute;
    z-index: 1;
    height: 8px;
    width: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

/* On hover size of blobs */
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 20px;
    height: 20px;
    margin: -10px 0px 0px -10px;
}

/* Distance text to blob vertically  */
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -12px;
    color: #fff;
    text-shadow: 2px 2px 5px #000000;
    font-size: 30px;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
/* Text stuff. */
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.3s ease-in;
    width: auto;
    opacity: 1;
}

/* Distance text to blob horizontally */
#fp-nav ul li .fp-tooltip.fp-right {
    right: 30px;
}
/* ------------------------------------------------------------- */
/*              Only display content to screen readers           */
/* ------------------------------------------------------------- */
.fp-sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/*              Centered texts in each section                   */
/* ------------------------------------------------------------- */
.section{
    text-align:left;
}
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/*                          PARTICLES                            */
/* ------------------------------------------------------------- */
#particles-js{
    height: 100vh;
    width: 100vw;
}
/* ------------------------------------------------------------- */

  
/* ------------------------------------------------------------- */
/*              Slidey text, that turns into my name             */
/* ------------------------------------------------------------- */
#section0 .layer #mainTitle{
    font-size: 7vw;
    margin:15px;
    padding:0;

    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 40%;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    white-space: nowrap;

    animation-name: slideTopLeft;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideTopLeft {
    0%   {
    }
    50% {
        top: 0;
        width: 100%;
        font-size: 30px;
    }
    100% {
        top: 0;
        width: 0;
        font-size: 30px;
    }
}
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/*              Second Title [Social, Stuff Blah Blah] */
/* ------------------------------------------------------------- */
#section0 .layer #secondTitle{
    font-size: 5vw;
    padding:0;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 40%;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    white-space: nowrap;
}
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/*                  Page Background Colours                      */
/* ------------------------------------------------------------- */
#section0{
    background-image: url(../images/section0.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /* Solves overflow issue on Macs */
    overflow: hidden;
}

#section1.s1background{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/section1.jpg);
}
#section2.s2background{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/section2.jpg);
}
#section3.s3background{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/section3.jpg);
}
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/*                     DOT FADING IN AND OUT                     */
/* ------------------------------------------------------------- */
.fadingdot {
    color: white; 
    -webkit-animation: fadeinout 2s linear forwards infinite;
    animation: fadeinout 2s linear forwards infinite;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/*              To hide the text that appears later.             */
/* ------------------------------------------------------------- */
.hidden {
    display: none;
}
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/*                     Sliding Underline                         */
/* ------------------------------------------------------------- */
a {
    color: white;
    text-decoration: none;
    display: inline;
    position: relative;
    overflow: hidden;
}
a:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: white;
    height: 10px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
a:hover:after,
a:focus:after,
a:active:after {
    right: 0;
}
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/*                            PROJECTS                           */
/* ------------------------------------------------------------- */
.fixedBottom {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 80%;
}

.flex-container {
    display: flex;
    align-items: stretch;
    height: 20vh;
}

.flex-container > div {
    color: white;
    font-size: 30px;
    border: 2px solid;
    border-image-source: linear-gradient(45deg, #09fbd3, #c8ff01);
    border-image-slice: 1;
}

.marginOutline {

    height: 100%;
    margin: 10px;
    transition: 0.3s;
}   

/* THIS WILL BE APPLIED BY LAZY LOADING */
.boxStyle {
    margin: 10px;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.3);
}

.boxStyle:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.projectTitle {
    font-size: 40px;
}

.projectText {
    margin-left: 10px;
    font-size: 15px;
}
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/*                     SECTION2, LANGUAGES                       */
/* ------------------------------------------------------------- */

/* Tile on the language based page. */
.languageTitle {
    font-size: 5vw;
    margin: 0;
    position:relative;
    left: 30px;
    top: 30px;
}

/* The container that attempts to not let the boxes interfere with */
/* the navigation on the right. */
.fixedCenter {
    width: 90%;
    height: 100%;
}

/* Make sure the blocks are aligned next to each other when res. */
/* is large enough */
.fCups1 { display: flex; }
.fCups2 { display: flex; }

/* .fixedCenter fixes the block of boxes to the center of the screen */
/* .languageName centers the name language. */
/* .languagePercent centers the percent of the language. */
.fixedCenter, .languageName, .languagePercent {
    display: flex;
    align-items: center;
    justify-content: center; 
}

/*  Displays the title and the Percentage regards to language knowledge */
.languageName, .languagePercent { text-align: center; }
.languageName { font-size: 4vw; }
.languagePercent { font-size: 5vw; }

/* Draws the boxes as well as renders the water as the background. */
.cupOne, .cupTwo, .cupThree, .cupFour {
    margin: 15px;
    margin-bottom: 18vh;
    margin-top: 15vh;
    width: 18vw;
    height: 18vw;
    border: 6px solid #262626;
    border-radius: 30px;
    background-image: url("../images/water.gif");
    background-color: #626f8f;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 0 6px #fff;
}

.cupOne {
    background-position: 0 0;
}
.cupTwo {
    background-position: 0 50px;
}
.cupThree {
    background-position: 0 120px;
}
.cupFour {
    background-position: 0 300px;
}


/* ------------------------------------------------------------- */
/*                      Responsive Section                       */
/* ------------------------------------------------------------- */

/* Used to make them responsive, if the screen size is less */
/* than specified it will change the following variables in */
/* the following classes. */
@media only screen and (max-width: 1200px) {
    /* Make the secondtitle taller so as to avoid the navtips */
    #section0 .layer #secondTitle{ 
        top: 30%; 
        font-size: 6.8vw;
    }
    .projectTitle {
        font-size: 7vw;
        left:25px;
        top: 50px;
    }
    .projectText {
        margin-left: 10px;
        font-size: 30px;
    }
    .languageTitle {
        font-size: 10vw;
        left:25px;
        top: 50px;
    }
    .fixedCenter { width: 100%; }
    .languageName { font-size: 9vw; }
    .languagePercent { font-size: 12vw; }
    .cupOne, .cupTwo, .cupThree, .cupFour {
        margin: 15px;
        margin-bottom: 18vh;
        margin-top: 8vh;
        width: 42vw;
        height: 42vw;
    }
    .fCups1, .fCups2 { display: block; }
}
/* ------------------------------------------------------------- */