<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>The Portfolio</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main_page_main.css" />

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
</head>

<body data-barba="wrapper">
    <div class="load-container">
        <div class="loading-screen"></div>
    </div>

    <main data-barba="container" data-barba-namespace="about-section">
        <div class="header">
            <h1 style="display: inline;" class="about-message">About</h1>
            <h1 style="display: inline;" class="about-me">Me</h1>
        </div>
        <style>

        </style>
        <div class="mid-content">
            <div class="player-thumb"></div>
        </div>
        <div class="main-content">
            <div class="row about-top">
                <div class="col-12 col-md-12 col-lg-6 col-xl-6 d-flex align-items-stretch">
                    <div class="card animate-this">
                        <div class="card-body">
                            <h5 class="card-title">Development Security Operations (DevSecOps) Engineer </h5>
                            <p class="card-text">I have an enquiring mind thus I chose to study software engineering,
                                maths and physics at
                                college.

                                Passionate software engineer with a tenacity to improve the efficiency and effectiveness
                                of a
                                system. Confident communication, and innovative creator to develop software that is
                                customized to
                                meet a company's organizational needs, highlight their core competencies, and further
                                their success.

                                I have trained in both software security and development in college and a software house
                                while
                                working for the government. I prefer the rapid response and development of
                                software.
                            </p>
                        </div>
                    </div>
                </div>
                <div style="min-height: 250px;" class="col-12 col-md-12 col-lg-6 col-xl-6 d-flex align-items-stretch">
                    <div class="card animate-this" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Language Proficiency</h5>
                            <div style="width: 100%; margin:0;" class="row">
                                <div class="col-6 col-md-6 col-lg-6 col-xl-3 d-flex align-items-stretch">
                                    <div style="border: 1px solid; width:100%; display:flex; align-items: center; justify-content: center; align-items:center;"
                                        class="cupOne">
                                        <h1 class="languageName">Python 95%</h1>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-6 col-xl-3 d-flex align-items-stretch">
                                    <div style="border: 1px solid; width:100%; display:flex; align-items: center; justify-content: center; align-items:center;"
                                        class="cupTwo">
                                        <h1 class="languageName">C++ 70%</h1>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-6 col-xl-3 d-flex align-items-stretch">
                                    <div style="border: 1px solid; width:100%; display:flex; align-items: center; justify-content: center; align-items:center;"
                                        class="cupThree">
                                        <h1 class="languageName">Java 60%</h1>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-6 col-xl-3 d-flex align-items-stretch">
                                    <div style="border: 1px solid; width:100%; display:flex; align-items: center; justify-content: center; align-items:center;"
                                        class="cupFour">
                                        <h1 class="languageName">Go 20%</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 col-xl-4 d-flex align-items-stretch">
                    <div class="card animate-this">
                        <div class="card-body">
                            <h5 class="card-title">Software Engineer</h5>
                            <footer class="blockquote-footer">XCyber</footer>
                            <p class="card-text">I am now a software engineer at XCyber running multiple
                                projects simultaneously. Many of these projects include the extraction and analysis of
                                <b>big data</b>. The work consists mostly of Python for complicated short term tasks and
                                C++ where performance is necessary.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 col-xl-4 d-flex align-items-stretch">
                    <div class="card animate-this">
                        <div class="card-body">
                            <h5 class="card-title">Software Engineer</h5>
                            <footer class="blockquote-footer">Ministry of Defense</footer>
                            <p class="card-text">I was a Development Security Operations member for the Ministry of
                                Defence. This requires a broad
                                range of knowledge and an "out of the box" style of thinking. The majority of our
                                software
                                development cycles are based around the <b>agile scrum</b> methodology with
                                consideration of
                                security
                                in order to produce robust software.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 col-xl-4 d-flex align-items-stretch">
                    <div class="card animate-this">
                        <div class="card-body">
                            <h5 class="card-title">Software Engineer</h5>
                            <footer class="blockquote-footer">Core Lighting LTD</footer>
                            <p class="card-text">During my time at Core Lighting LTD I was repsonsible for a number of
                                roles including but not
                                limited to; Customer Assistant, Personal Assistant and Designer. I was required to talk
                                to
                                customers on the phone and help them with queries as well data manipulation on excel for
                                presentation use. On top of that, I had a task to code a lighting sequence and design a
                                <b>radio frequency</b> based remote to activate it to be used for a plane landing in
                                Antarctica. In
                                regards
                                to the software I was required to learn, it was called Easy Stand Alone 2 and it
                                connected all the lights together so that the lighting sequence could communicate in
                                uniform.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<!-- unpkg -->
<script src="https://unpkg.com/@barba/core"></script>

<!-- jsdelivr -->
<script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
<script src="/static/js/home_page_page_transition.js"></script>

</html>