html {
    overflow-x: hidden;
}
html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 11, 22);
    color: white;
    font-family: 'Kanit', sans-serif;
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: rgb(0, 17, 34);
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

.fullscreen {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.container {
    position: absolute;
    top: 75px;
    bottom: 75px;
}

.main {
    height: 100%;
    width: 100vw;
    background-color: rgb(0, 17, 34);
}

.titles {
    top: 50%;
    left: 50%;
    z-index: 100;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page-title {
    text-transform: uppercase;
    text-align: center;
    pointer-events: none;
    font-size: 5vw;
    letter-spacing: 2.6vw;
    color: hsla(192, 18%, 49%, 1);
    text-shadow: 0px 6px 10px #3d5257;
    text-indent: 2.6vw;
    opacity: 1;
    font-weight: 100;
    position: relative;
    top: 0;
    left: auto;
    transform: none;
    padding: 0;
    margin: 0;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 100vw;
    text-shadow: 0 0 15px #7198a0;
}

.page-subtitle {
    text-transform: uppercase;
    text-align: center;
    pointer-events: none;
    font-size: 1vw;
    letter-spacing: 1.2vw;
    text-indent: 1.8vw;
    position: relative;
    top: 0;
    left: auto;
    transform: none;
    padding: 0;
    margin: 0;
    user-select: none;
    white-space: nowrap;
    color: rgba(255,255,255,.5);
}

a {
    color: inherit;
    position:relative;
    text-decoration:none;
    display:inline-block;
}
a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #ffffff;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%
}
a:hover:after { 
    transform: scaleX(1);
    transform-origin:0 50%;
}

.flex-container {
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 5%;
    display: flex;
    justify-content: space-between;

  }
  
.flex-container > div {
    color: rgba(255,255,255,.7);
    text-align: center;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    text-indent: .2vw;
    font-weight: 200;
}

.header {
    height: 150px;
    background-color: rgb(0, 17, 34);
    border-bottom: 5px solid white;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 1.5vw;
    letter-spacing: 0.5vw;
    color: rgba(255,255,255,.5);
    text-indent: 1.5vw;
    opacity: 1;
    font-weight: 100;
    /* text-shadow: 0 0 15px #7198a0; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 4vw;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.grid {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border: 2px solid;
    border-image-source: linear-gradient(45deg, #09fbd3, #c8ff01);
    border-image-slice: 1;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}
.grid:hover {
    background-color: rgba(255,255,255,0.1);
}

.gridTitle {
    font-size: 25px;
    color: white;
    margin: 10px;
}
.gridDesc {
    font-size: 18px;
    color: white;
    margin: 10px;

}
.gridLang {
    margin: 10px;
    color: yellow;
    position: absolute;
    bottom: 0;
    right: 0;
}

.imageColumn {
    -ms-flex: 16.6%;
    flex: 16.6%;
    max-width: 16.6%;
    text-align: center;
}

.circleImage {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

@media screen and (max-width: 1400px) {
    .imageColumn {
        -ms-flex: 33.3%;
        flex: 33.3%;
        max-width: 33.3%;
    }
}

@media screen and (max-width: 1100px) {
    .imageColumn {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .imageColumn {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .page-title {
        font-size: 8vw;
    }
    .page-subtitle {
        font-size: 2.2vw;
    }
    .flex-container {
        width: 80%;
        left: 10%;
    }
    .flex-container > div {
        font-size: 3vw;
    }
    .container {
        top: 0;
        bottom: 0;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .header {
        font-size: 3vw;
        height: 150px;
    }

    .gridTitle {
        font-size: 50px;
    }
    .gridDesc {
        font-size: 32px;
    }
    
  }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1400px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* 
    Map stuff
*/
#demo-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    height: 560px;
    background: white;
  }
  #mapBox {
    width: 80%;
    float: left;
  }
  #container {
    height: 500px;
  }
  #sideBox {
    float: right;
    width: 16%;   
    margin: 100px 1% 0 1%;
    padding-left: 1%;
    border-left: 1px solid silver;
    display: none;
  }
  #infoBox {
    margin-top: 10px;
  }
  .or-view-as {
    margin: 0.5em 0;
  }
  #up {
    line-height: 30px;
    height: 30px;
    max-width: 400px;
    margin: 0 auto;
  }
  #up a {
    cursor: pointer;
    padding-left: 40px;
  }
  .selector {
    height: 40px;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
  }
  .selector .prev-next {
    position: absolute;
    padding: 0 10px;
    font-size: 30px;
    line-height: 20px;
    background: white;
    font-weight: bold;
    color: #999;
    top: -2px;
    display: none;
    border: none;
  }
  .selector .custom-combobox {
    display: block;
    position: absolute;
    left: 40px;
    right: 65px;
  }
  .selector .custom-combobox .custom-combobox-input {
    position: absolute;
    font-size: 14px;
    color: silver;
    border-radius: 3px 0 0 3px;
    height: 32px;
    display: block;
    background: url(https://www.highcharts.com/samples/graphics/search.png) 5px 8px no-repeat white;
    padding: 1px 5px 1px 30px;
    width: 100%;
    box-sizing: border-box;
  }
  .selector .custom-combobox .ui-autocomplete-input:focus {
    color: black;
  }
  .selector .custom-combobox .ui-autocomplete-input.valid {
    color: black;
  }
  .selector .custom-combobox-toggle {
    position: absolute;
    display: block;
    right: -32px;
    border-radius: 0 3px 3px 0;
    height: 32px;
    width: 32px;
  }
  
  .selector #btn-next-map {
    right: -12px;
  }
  .ui-autocomplete {
    max-height: 500px;
    overflow: auto;
  }
  .ui-autocomplete .option-header {
    font-style: italic;
    font-weight: bold;
    margin: 5px 0;
    font-size: 1.2em;
    color: gray;
  }
  
  .loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
  }
  .ui-button-icon-only .ui-button-text {
    height: 26px;
    padding: 0 !important;
    background: white;
  }
  #infoBox .button {
    border: none;
    border-radius: 3px;
    background: #a4edba;
    padding: 5px;
    color: black;
    text-decoration: none;
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 3px;
    line-height: 30px;
  }
  
  @media (max-width: 768px) {
    #demo-wrapper {
      width: auto;
      height: auto;
    }
    #mapBox {
      width: auto;
      float: none;
    }
    #container {
      height: 310px;
    }
    #sideBox {
      float: none;
      width: auto;
      margin-top: 0;
      border-left: none;
      border-top: 1px solid silver;
    }
  }